<div>
    <h1><b>SIGN IN</b></h1>
    <mat-card>
        <form class="content" [formGroup]="formData">
            <mat-form-field class="input-username">
                <input matInput type="text" matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="formData.controls.username.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="input-password">
                <input matInput type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="formData.controls.password.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </form>
        <mat-card-actions align="end">
            <ng-template [ngIf]="formData.valid">
                <button mat-button class="button-login" (click)="onSubmit()">LOGIN</button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</div>