mat-card {
    width: 500px;
    height: 240px;
    background-color: #B87BB8;
}

h1 {
    padding-bottom: 10px;
}

button.button-login {
    color: white;
}

div {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-username {
    padding: 30px 30px 0px 30px
}

.input-password {
    padding: 0px 30px 0px 30px
}