mat-card-title > *:last-child {
    margin-left: 0.5rem;
}

mat-card-subtitle {
    margin-left: 10px;
}

mat-card {
    margin: 20px 20px 0px 20px
}

h5 {
    padding: 2px 4px 2px 4px;
    display: inline;
    background-color: #B87BB8;
    color: white;
}

.complete {
    text-decoration: line-through;
}

.mat-card, h2 {
    margin: 20px 20px 0px 20px
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button.button-add {
    color: #B87BB8;
    margin-right: 15px;
}

button.button-logout {
    color: white;
    background-color: #B87BB8;
}
