<div class="div">
    <h2>To Do List</h2>
    <div class="div">
        <button mat-button style="margin-right: 5px;" class="button-logout" *ngIf="hasAdminRole()" (click)="navigateToDashboard()">ADMIN DASHBOARD</button>
        <button mat-button class="button-logout" (click)="logout()">LOGOUT</button>
        <button mat-icon-button class="button-add" (click)="openAddDialog()">
            <mat-icon (click)="openAddDialog()">add</mat-icon>
        </button>
    </div>
</div>
<mat-card class="mat-card" *ngFor="let task of tasks">
    <mat-card-header>
        <mat-card-title>
            <mat-checkbox [ngModel]="completeTask.get(task.id)" (change)="checkedTask(task.id)"></mat-checkbox>
            <span [ngClass]="{'complete' : completeTask.get(task.id)}">{{task.title}}</span>
            <h5 [ngClass]="{'complete' : completeTask.get(task.id)}">{{task.category}}</h5>
        </mat-card-title>
        <mat-card-subtitle [ngClass]="{'complete' : completeTask.get(task.id)}">Due date:
            {{task.dueDate}}</mat-card-subtitle>
        <mat-card-subtitle [ngClass]="{'complete' : completeTask.get(task.id)}">{{task.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-button (click)="openEditDialog(task)">EDIT</button>
        <button mat-button (click)="openDeleteDialog(task)">DELETE</button>
    </mat-card-actions>
</mat-card>