mat-card-title > *:last-child {
    margin-left: 0.5rem;
}

mat-card-subtitle {
    margin-left: 10px;
}

mat-card {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h5 {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline;
    background-color: rgb(184, 123, 184);
    color: white;
}

.complete {
    text-decoration: line-through;
}

.mat-card, h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button.button-add {
    color: #B87BB8;
    margin-right: 15px;
}

button.button-logout {
    color: white;
    background-color: #B87BB8;
}
