.mat-card, h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-right: 15px;
}
